html, body {
	position: fixed;
}
body, body * {
	margin: 0;
	border: none;
	padding: 0;
	outline: none;
}
body {
	width: 100%;
	height: 100%;
}



.bg-r {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.bg-r .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	background-color: #020202;
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, #0a0a0a 10px, #0a0a0a 12px), repeating-linear-gradient(45deg, transparent, transparent 10px, #0a0a0a 10px, #0a0a0a 12px);
}
.bg-r .bg .wr {
	position: absolute;
	top: 20px;
	left: 50px;
	bottom: 20px;
	right: 50px;
	border-radius: 30px;
	border: solid 10px #0f0f0f;
	overflow: hidden;
}



.bg-r .bg .wr .top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: #1e1e1e;
	border-bottom: solid 10px #0f0f0f;
}
.bg-r .bg .wr .top .icon {
	position: absolute;
	top: 0;
	left: 15px;
	width: 100px;
	height: 100px;
	user-select: none;
}
.bg-r .bg .wr .top .icon .i {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	display: inline-block;
	line-height: 100px;
	vertical-align: middle;
	font-size: 100px;
	color: #9cdcf5;
	text-shadow: 0 0 9px #1889e6, 0 0 9px #1889e6, 0 0 9px #1889e6;
}
.bg-r .bg .wr .top .icon .i:hover{
	cursor: pointer;
}
.bg-r .bg .wr .top .title {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	transform: translate(-50%,0);
	font-family: Turret Road, sans-serif;
	font-weight: 700;
	font-size: 70px;
	text-align: left;
	line-height: 100px;
	user-select: none;
	white-space: nowrap;
}
.bg-r .bg .wr .top .title .c {
	color: #bbf49e;
	text-shadow: 0 0 8px #5be113, 0 0 8px #5be113, 0 0 8px #5be113;
	transition: color 0.1s, text-shadow 0.1s;
}
.bg-r .bg .wr .top .title .c:hover {
	color: #869380;
	text-shadow: 0 0 2px #283620, 0 0 2px #283620, 0 0 2px #283620;
	transition: color 0.1s, text-shadow 0.1s;
}



.bg-r .bg .wr .side {
	position: absolute;
	top: 110px;
	left: 0;
	width: 200px;
	bottom: 0;
	background: #1e1e1e;
	border-right: solid 10px #0f0f0f;
	padding: 20px;
}
.bg-r .bg .wr .side .elem {
	font-family: Nova Mono, sans-serif;
	font-size: 18px;
	color: #ffbf0f;
	padding-top: 15px;
	user-select: none;
}
.bg-r .bg .wr .side .elem:hover {
	cursor: pointer;
}
.bg-r .bg .wr .side .elem:first-child {
	padding-top: 0;
}



.bg-r .bg .wr .main {
	position: absolute;
	top: 110px;
	left: 250px;
	width: calc(100% - 250px);
	min-height: calc(100% - 110px);
}
.bg-r .bg .wr .main>div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.bg-r .bg .wr .main>div.main-v {
	display: initial;
}



.bg-r .bg .wr .main .accounts {
	background: #2f2f2f;
}
.bg-r .bg .wr .main .accounts .a-search {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	border-bottom: solid 8px #0f0f0f;
}
.bg-r .bg .wr .main .accounts .a-search .a-s-inp {
	position: absolute;
	top: 0;
	left: 10px;
	width: calc(100% - 20px);
	height: 50px;
	font-size: 28px;
	line-height: 50px;
	background: transparent;
	font-family: Ubuntu Mono;
	color: #f5f5f5;
}
.bg-r .bg .wr .main .accounts .a-search .a-s-inp::selection {
	background: #606060;
	color: #2fcf8e;
}
.bg-r .bg .wr .main .accounts .a-list {
	position: absolute;
	top: 58px;
	left: 0;
	width: 100%;
	bottom: 0;
	background: #0c0c0c;
	overflow-y: scroll;
}
.bg-r .bg .wr .main .accounts .a-list::-webkit-scrollbar {
	width: 15px;
	background: #0c0c0c;
}
.bg-r .bg .wr .main .accounts .a-list::-webkit-scrollbar-track {
	background: #212121;
	border-radius: 8px;
}
.bg-r .bg .wr .main .accounts .a-list::-webkit-scrollbar-thumb {
	background: #2d2d2d;
	border-radius: 8px;
}
.bg-r .bg .wr .main .accounts .a-list .a-l-elem {
	position: relative;
	width: 100%;
	height: 25px;
	cursor: pointer;
}
.bg-r .bg .wr .main .accounts .a-list .a-l-elem:not(:first-child) {
	border-top: solid 4px #0f0f0f;
}
.bg-r .bg .wr .main .accounts .a-list .a-l-elem:nth-child(even) {
	background: #151515;
}
.bg-r .bg .wr .main .accounts .a-list .a-l-elem .a-l-elem-pr {
	position: absolute;
	top: 0;
	left: 10px;
	width: calc(100% - 20px);
	height: 100%;
	line-height: 25px;
	font-size: 23px;
	font-family: Ubuntu Mono;
	user-select: none;
}
.bg-r .bg .wr .main .accounts .a-list .a-l-elem .a-l-elem-pr .a-l-elem-pr-nm {
	float: left;
	color: #724fe6;
	padding-right: 20px;
}
.bg-r .bg .wr .main .accounts .a-list .a-l-elem .a-l-elem-pr .a-l-elem-pr-em {
	color: #aed42a;
}
.bg-r .bg .wr .main .accounts .user-wr {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000a1;
	display: none;
}
.bg-r .bg .wr .main .accounts .user-wr.s {
	display: initial;
}
.bg-r .bg .wr .main .accounts .user-wr .user {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: calc(100% - 100px);
	height: 300px;
	transform: translate(-50%,-50%);
	background: #0c0c0c;
	border: solid 10px #0f0f0f;
	border-radius: 30px;
	padding: 10px;
	font-family: Ubuntu Mono;
	font-size: 22px;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-elem {
	position: relative;
	width: 100%;
	min-height: 25px;
	user-select: none;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-elem .u-elem-k {
	padding-right: 10px;
	color: #3d3d3d;
	white-space: nowrap;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-elem .u-elem-v {
	width: 100%;
	cursor: pointer;
	white-space: pre-wrap;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-elem .u-elem-v.u-nm {
	color: #724fe6;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-elem .u-elem-v.u-em {
	color: #aed42a;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-elem .u-elem-v.u-id {
	color: #2acfb6;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-elem .u-elem-v.u-tm {
	color: #cf2aae;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-elem .u-elem-v.u-ip {
	color: #f7742a;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-elem .u-elem-v.u-tk {
	color: #024591;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-elem .u-elem-v.u-img {
	color: #29cb5a;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-elem .u-elem-v.u-pwd {
	color: #cf322a;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-elem .u-elem-v.u-tg {
	color: #686868;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-elem .u-elem-v.u-tg .u-tg-s {
	color: #ffc40b;
	text-decoration: underline;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-ch-nm {
	position: absolute;
	left: 10px;
	bottom: 50px;
	background: transparent;
	color: #f5f5f5;
	font-family: Ubuntu Mono;
	font-size: 25px;
	border-bottom: solid 5px #151515;
	width: 300px;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-ch-nm::selection {
	background: #606060;
	color: #2fcf8e;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-ch-nm::placeholder {
	color: #474747;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-ch-t {
	position: absolute;
	left: 330px;
	bottom: 50px;
	background: transparent;
	color: #686868;
	font-family: Ubuntu Mono;
	font-size: 25px;
	width: 300px;
	user-select: none;
	white-space: nowrap;
	cursor: pointer;
}
.bg-r .bg .wr .main .accounts .user-wr .user .u-ch-t .u-ch-t-s {
	color: #ffc40b;
	text-decoration: underline;
}



.bg-r .bg .wr .main .pages {
	background: #2f2f2f;
}
.bg-r .bg .wr .main .pages .p-search {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	border-bottom: solid 8px #0f0f0f;
}
.bg-r .bg .wr .main .pages .p-search .p-s-inp {
	position: absolute;
	top: 0;
	left: 10px;
	width: calc(100% - 20px);
	height: 50px;
	font-size: 28px;
	line-height: 50px;
	background: transparent;
	font-family: Ubuntu Mono;
	color: #f5f5f5;
}
.bg-r .bg .wr .main .pages .p-search .p-s-inp::selection {
	background: #606060;
	color: #2fcf8e;
}
.bg-r .bg .wr .main .pages .p-list {
	position: absolute;
	top: 58px;
	left: 0;
	width: 100%;
	bottom: 0;
	background: #0c0c0c;
	overflow-y: scroll;
}
.bg-r .bg .wr .main .pages .p-list::-webkit-scrollbar {
	width: 15px;
	background: #0c0c0c;
}
.bg-r .bg .wr .main .pages .p-list::-webkit-scrollbar-track {
	background: #212121;
	border-radius: 8px;
}
.bg-r .bg .wr .main .pages .p-list::-webkit-scrollbar-thumb {
	background: #2d2d2d;
	border-radius: 8px;
}
.bg-r .bg .wr .main .pages .p-list .p-l-elem {
	position: relative;
	width: 100%;
	height: 25px;
	cursor: pointer;
}
.bg-r .bg .wr .main .pages .p-list .p-l-elem:not(:first-child) {
	border-top: solid 4px #0f0f0f;
}
.bg-r .bg .wr .main .pages .p-list .p-l-elem:nth-child(even) {
	background: #151515;
}
.bg-r .bg .wr .main .pages .p-list .p-l-elem .p-l-elem-pr {
	position: absolute;
	top: 0;
	left: 10px;
	width: calc(100% - 20px);
	height: 100%;
	line-height: 25px;
	font-size: 23px;
	font-family: Ubuntu Mono;
	user-select: none;
}
.bg-r .bg .wr .main .pages .p-list .p-l-elem .p-l-elem-pr .p-l-elem-pr-id {
	float: left;
	color: #724fe6;
	padding-right: 20px;
}
.bg-r .bg .wr .main .pages .p-list .p-l-elem .p-l-elem-pr .p-l-elem-pr-tt {
	color: #aed42a;
}
.bg-r .bg .wr .main .pages .page-wr {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000a1;
	display: none;
}
.bg-r .bg .wr .main .pages .page-wr.s {
	display: initial;
}
.bg-r .bg .wr .main .pages .page-wr .page {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% - 200px);
	transform: translate(-50%,-50%);
	background: #0c0c0c;
	border: solid 10px #0f0f0f;
	border-radius: 30px;
	padding: 10px;
	font-family: Ubuntu Mono;
	font-size: 22px;
}
.bg-r .bg .wr .main .pages .page-wr .page .p-elem {
	position: relative;
	width: 100%;
	min-height: 25px;
	user-select: none;
}
.bg-r .bg .wr .main .pages .page-wr .page .p-elem .p-elem-k {
	padding-right: 10px;
	color: #3d3d3d;
	white-space: nowrap;
}
.bg-r .bg .wr .main .pages .page-wr .page .p-elem .p-elem-v {
	width: 100%;
	cursor: pointer;
	white-space: pre-wrap;
}
.bg-r .bg .wr .main .pages .page-wr .page .p-elem .p-elem-v.p-id {
	color: #724fe6;
}
.bg-r .bg .wr .main .pages .page-wr .page .p-elem .p-elem-v.p-t {
	color: #aed42a;
}
.bg-r .bg .wr .main .pages .page-wr .page .p-elem .p-elem-v.p-d {
	color: #2acfb6;
}
.bg-r .bg .wr .main .pages .page-wr .page .p-elem .p-elem-v.p-tm {
	color: #cf2aae;
}
.bg-r .bg .wr .main .pages .page-wr .page .p-elem .p-elem-v.p-a {
	color: #f7742a;
}



.bg-r .bg .wr .main .logs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #f2f2f2;
	font-family: Ubuntu Mono;
	font-size: 20px;
	background: #0c0c0c;
	overflow-y: scroll;
}
.bg-r .bg .wr .main .logs::-webkit-scrollbar {
	width: 15px;
	background: #0c0c0c;
}
.bg-r .bg .wr .main .logs::-webkit-scrollbar-track {
	background: #212121;
	border-radius: 8px;
}
.bg-r .bg .wr .main .logs::-webkit-scrollbar-thumb {
	background: #2d2d2d;
	border-radius: 8px;
}
.bg-r .bg .wr .main .logs::-webkit-scrollbar-corner {
	background: #0c0c0c;
}
.bg-r .bg .wr .main .logs .l-msg {
	position: relative;
}
.bg-r .bg .wr .main .logs .l-msg:nth-child(even) {
	background: #101010;
}
.bg-r .bg .wr .main .logs .l-msg .l-msg-t {
	color: #2f2f2f;
	user-select: none;
}
.bg-r .bg .wr .main .logs .l-msg .l-msg-m {
	color: #cdcdcd;
}
.bg-r .bg .wr .main .logs .l-msg .l-msg-m::selection {
	background: #606060;
	color: #2fcf8e;
}



.bg-r .bg .wr .main .p-analytics {
	background: #2f2f2f;
}
.bg-r .bg .wr .main .p-analytics .pa-search {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	border-bottom: solid 8px #0f0f0f;
}
.bg-r .bg .wr .main .p-analytics .pa-search .pa-s-inp {
	position: absolute;
	top: 0;
	left: 10px;
	width: calc(100% - 20px);
	height: 50px;
	font-size: 28px;
	line-height: 50px;
	background: transparent;
	font-family: Ubuntu Mono;
	color: #f5f5f5;
}
.bg-r .bg .wr .main .p-analytics .pa-search .pa-s-inp::selection {
	background: #606060;
	color: #2fcf8e;
}
.bg-r .bg .wr .main .p-analytics .pa-list {
	position: absolute;
	top: 58px;
	left: 0;
	width: 100%;
	bottom: 0;
	background: #0c0c0c;
	overflow-y: scroll;
}
.bg-r .bg .wr .main .p-analytics .pa-list::-webkit-scrollbar {
	width: 15px;
	background: #0c0c0c;
}
.bg-r .bg .wr .main .p-analytics .pa-list::-webkit-scrollbar-track {
	background: #212121;
	border-radius: 8px;
}
.bg-r .bg .wr .main .p-analytics .pa-list::-webkit-scrollbar-thumb {
	background: #2d2d2d;
	border-radius: 8px;
}
.bg-r .bg .wr .main .p-analytics .pa-list .pa-l-elem {
	position: relative;
	width: 100%;
	height: 25px;
	cursor: pointer;
}
.bg-r .bg .wr .main .p-analytics .pa-list .pa-l-elem:not(:first-child) {
	border-top: solid 4px #0f0f0f;
}
.bg-r .bg .wr .main .p-analytics .pa-list .pa-l-elem:nth-child(even) {
	background: #151515;
}
.bg-r .bg .wr .main .p-analytics .pa-list .pa-l-elem .pa-l-elem-pr {
	position: absolute;
	top: 0;
	left: 10px;
	width: calc(100% - 20px);
	height: 100%;
	line-height: 25px;
	font-size: 23px;
	font-family: Ubuntu Mono;
	user-select: none;
}
.bg-r .bg .wr .main .p-analytics .pa-list .pa-l-elem .pa-l-elem-pr .pa-l-elem-pr-id {
	float: left;
	color: #724fe6;
	padding-right: 20px;
}
.bg-r .bg .wr .main .p-analytics .pa-list .pa-l-elem .pa-l-elem-pr .pa-l-elem-pr-tt {
	color: #aed42a;
}
.bg-r .bg .wr .main .p-analytics .pa-wr {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000a1;
	display: none;
}
.bg-r .bg .wr .main .p-analytics .pa-wr.s {
	display: initial;
}
.bg-r .bg .wr .main .p-analytics .pa-wr .pa {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% - 200px);
	transform: translate(-50%,-50%);
	background: #0c0c0c;
	border: solid 10px #0f0f0f;
	border-radius: 30px;
	padding: 10px;
	font-family: Ubuntu Mono;
	font-size: 22px;
}
.bg-r .bg .wr .main .p-analytics .pa-wr .pa .pa-elem {
	position: relative;
	width: 100%;
	min-height: 25px;
	user-select: none;
}
.bg-r .bg .wr .main .p-analytics .pa-wr .pa .pa-elem .pa-elem-k {
	padding-right: 10px;
	color: #3d3d3d;
	white-space: nowrap;
}
.bg-r .bg .wr .main .p-analytics .pa-wr .pa .pa-elem .pa-elem-v {
	width: 100%;
	cursor: pointer;
	white-space: pre-wrap;
}
.bg-r .bg .wr .main .p-analytics .pa-wr .pa .pa-elem .pa-elem-v.p-id {
	color: #724fe6;
}
.bg-r .bg .wr .main .p-analytics .pa-wr .pa .pa-elem .pa-elem-v.p-t {
	color: #aed42a;
}
.bg-r .bg .wr .main .p-analytics .pa-wr .pa .pa-elem .pa-elem-v.p-tv {
	color: #2acfb6;
}
.bg-r .bg .wr .main .p-analytics .pa-wr .pa .pa-elem .pa-elem-v.p-tuv {
	color: #cf2aae;
}
.bg-r .bg .wr .main .p-analytics .pa-wr .pa .pa-elem .pa-elem-v.p-ov {
	color: #f7742a;
}
