html, body {
	position: fixed;
}
body, body * {
	margin: 0;
	border: none;
	padding: 0;
	outline: none;
}
body {
	width: 100%;
	height: 100%;
}



.bg-r {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}
.bg-r::-webkit-scrollbar {
	width: 15px;
	background: #020202;
}
.bg-r::-webkit-scrollbar-track {
	background: #212121;
	border-radius: 8px;
}
.bg-r::-webkit-scrollbar-thumb {
	background: #2d2d2d;
	border-radius: 8px;
}
.bg-r .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	background-color: #020202;
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, #0a0a0a 10px, #0a0a0a 12px), repeating-linear-gradient(45deg, transparent, transparent 10px, #0a0a0a 10px, #0a0a0a 12px);
}
.bg-r .bg .wr {
	position: absolute;
	top: 20px;
	left: 50px;
	right: 50px;
	height: calc(100% - 40px);
	border-radius: 30px;
	border: solid 10px #0f0f0f;
	overflow: hidden;
	background: url("/rsrc/bg.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	image-rendering: pixelated;
}
.bg-r .bg .wr.start {
	animation: bg_scroll 2s forwards 3.5s ease-in-out;
}



.bg-r .bg .wr .title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: Kenney Pixel;
	text-transform: uppercase;
	opacity: 0;
	color: #e5e5e5;
	font-size: 100px;
}
.bg-r .bg .wr.start .title {
	opacity: 1;
	transition: opacity 3s;
	animation: title_up 2s forwards 3.5s ease-in-out;
}



.bg-r .bg .wr .main {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	min-height: calc(100% - 120px);
	padding: 10px;
}
.bg-r .bg .wr.start .main {
	animation: main_up 2s forwards 3.5s ease-in-out;
}
.bg-r .bg .wr .main .h {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
	height: 175px;
	font-family: Nova Mono;
	text-align: center;
	line-height: 150px;
	font-size: 40px;
	font-style: italic;
	color: #4837db;
	user-select: none;
	white-space: nowrap;
}
.bg-r .bg .wr .main .box {
	position: absolute;
	top: 175px;
	left: 50%;
	width: 500px;
	height: 500px;
	transform: translate(-50%,0);
	background: #151515;
	border-radius: 30px;
	border: solid 10px #0f0f0f;
}

.bg-r .bg .wr .main .box .name {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translate(-50%,0);
	height: 70px;
}
.bg-r .bg .wr .main .box .lvl {
	position: absolute;
	top: 150px;
	left: 50%;
	transform: translate(-50%,0);
	height: 70px;
}
.bg-r .bg .wr .main .box div label {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
	font-size: 26px;
	font-family: Nova Mono, sans-serif;
	color: #ffbf0f;
	user-select: none;
}
.bg-r .bg .wr .main .box .name input {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,0);
	font-size: 26px;
	background: transparent;
	color: #c1c1c1;
	font-family: Ubuntu Mono, sans-serif;
	border-bottom: solid 3px #626262;
	width: 325px;
}
.bg-r .bg .wr .main .box .name input::selection {
	background: #242424;
	color: #f5f5f5;
}
.bg-r .bg .wr .main .box .lvl .lvl-l {
	position: absolute;
	bottom: -124px;
	left: 50%;
	transform: translate(-50%,0);
	font-size: 26px;
	background: transparent;
	color: #c1c1c1;
	font-family: Ubuntu Mono, sans-serif;
	width: 325px;
	height: 150px;
}
.bg-r .bg .wr .main .box .lvl .lvl-l .lvl-e {
	text-align: center;
	border: solid 3px #626262;
	padding: 5px;
	user-select: none;
	cursor: pointer;
}
.bg-r .bg .wr .main .box .lvl .lvl-l .lvl-e.lvl-s {
	background: #212121;
}
.bg-r .bg .wr .main .box .lvl .lvl-l .lvl-e:first-child {
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.bg-r .bg .wr .main .box .lvl .lvl-l .lvl-e:last-child {
	border-top: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.bg-r .bg .wr .main .box .start-g {
	position: absolute;
	bottom: 80px;
	left: 50%;
	line-height: 40px;
	transform: translate(-50%,50%);
	color: #99d9ef;
	font-size: 40px;
	text-shadow: 0 0 3px #a5c4ce, 0 0 3px #a5c4ce, 0 0 3px #a5c4ce;
	font-family: Bungee, sans-serif;
	white-space: nowrap;
	user-select: none;
	cursor: pointer;
}



.bg-r .bg .err {
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translate(-50%,0);
	width: 500px;
	height: 30px;
	background: #de3020;
	color: #ededed;
	font-family: Montserrat Alternates;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	user-select: none;
	transition: top 0.25s;
}
.bg-r .bg .err.e {
	top: 0;
	transition: top 0.25s;
}



@font-face{
	font-family: "Kenney Pixel";
	src: url("/rsrc/kenney_pixel.ttf") format("truetype");
}
@keyframes bg_scroll{
	100% {
		background-position: bottom;
	}
}
@keyframes title_up{
	100% {
		top: 50px;
	}
}
@keyframes main_up{
	100% {
		top: 120px;
	}
}
