html, body {
	position: fixed;
}
body, body * {
	margin: 0;
	border: none;
	padding: 0;
	outline: none;
}
body {
	width: 100%;
	height: 100%;
}



.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	background-color: #020202;
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, #0a0a0a 10px, #0a0a0a 12px), repeating-linear-gradient(45deg, transparent, transparent 10px, #0a0a0a 10px, #0a0a0a 12px);
}
.bg .wr {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 500px;
	transform: translate(-50%,-50%);
	background: #0c0c0c;
	border-radius: 30px;
	overflow: hidden;
	border: solid 10px #0f0f0f;
}



.bg .wr .title {
	position: absolute;
	top: 10px;
	left: 20px;
	width: calc(100% - 40px);
	height: 100px;
	font-family: Nova Mono, sans-serif;
	font-size: 67px;
	color: #8cd13c;
	user-select: none;
}
.bg .wr .title .n {
	font-family: Turret Road, sans-serif;
	font-size: 90px;
	color: #503ac4;
}
.bg .wr .desc {
	position: absolute;
	top: 140px;
	left: 20px;
	width: 450px;
	font-family: Nova Mono, sans-serif;
	color: #b7b7b7;
	font-size: 30px;
}
.bg .wr .desc::selection {
	background: #303030;
	color: #2fcf8e;
}
.bg .wr .img {
	position: absolute;
	top: 120px;
	right: 20px;
	color: #d72e4a;
	animation: err 1.4s cubic-bezier(1, 0, 0.6, 0.9) 0s infinite alternate;
	user-select: none;
}
.bg .wr .img .img-i {
	font-size: 300px;
}
.bg .wr .lnk {
	position: absolute;
	top: 400px;
	left: 100px;
	font-family: Nova Mono, sans-serif;
	color: #17b6e7;
	font-size: 35px;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
}
.bg .wr .lnk .lnk-i {
	user-select: none;
	font-size: 42px;
	transform: translate(0,8px);
}



@keyframes err {
	0% {
		text-shadow: 0 0 2px #d72e4a, 0 0 2px #d72e4a, 0 0 2px #d72e4a;
	}
	100% {
		text-shadow: 0 0 13px #d72e4a, 0 0 13px #d72e4a, 0 0 13px #d72e4a;
	}
}
